*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-size: 100%;
    font-family: "Open Sans", "Helveitca", "sans";
}

html, body {
    width: 100%;
}

body {
    height: 100%;
}


#page {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
    display: block;
}

#page .board_intro{
    width: 100%;
    height: 400px;
    display: block;
    position: relative;
}

#page .board_intro h1{
    text-align: center;
    width: 100%;
    text-align: center;
    font-family: "Berkshire Swash", "Helveitca", "sans";
    margin: 0px;
    position: absolute;
    bottom: 20px;
}

#page .board_desc{
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
}

#page .board_intro h1{
    font-size: 9.0rem;
}

#page .board_desc ul, #page .board_desc ul li {
    list-style-type: none;
}

#page .board_desc ul{
    display: block;
    position: relative;
    width: 90%;
}

#page .board_desc ul li {
    display: inline-block;
    margin-left: 60px;
    font-size: 1em;
    vertical-align: middle;
}

#page .board_desc ul li#desc {
    text-align: left;
    font-weight: bold;
}

#page .board_desc ul li#github {
    padding: 15px 30px;
    background: #BF3A3A;
}

#page .board_desc ul li#github a {
    margin: 0;
    padding: 0;
    text-algin: center;
    color: #ffffff;
    font-weight: 900;
    text-decoration: none;
    font-size: 1.3em;
}

#page .board_desc ul li#github:hover {
    background: none;
    border: 2px solid #BF3A3A;
    border-radius: 2px;
}

#page .board_desc ul li#github:hover a {
    color: #BF3A3A;
}
